*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav .logo{
  margin-left: 120px;
}

header{
  background-color: #ffffff;
  padding-top: 16px;
}
nav{
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}
nav .space{
  display: flex;
  justify-content:center;
  align-items: center;
  list-style-type: none;
  gap: 50px;
}


.btn{
  background-color: #469165;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 120px;
}
